<form [formGroup]="form" (ngSubmit)="submit()">
    <h2>Login</h2>
    <div>
        <label>Email</label>
        <input type="email" formControlName="email"/>

        @if (form.controls.email.touched && form.controls.email.invalid) {
            <div class="error">
                @if (form.controls.email.errors?.['required']) {
                     <span>Email is required.</span>
                }
                @if (form.controls.email.errors?.['email']) {
                    <span>Invalid email format.</span>
                }
            </div>
        }
    </div>
    <div>
        <label>Password</label>
        <input type="password" formControlName="password" />

        @if (form.controls.password.touched && form.controls.password.invalid) {
            <div class="error">
                @if (form.controls.password.errors?.['required']) {
                    <span>Password is required.</span>
                }
                @if (form.controls.password.errors?.['minLength']) {
                    <span>Password must be at least 6 characters.</span>
                }
            </div>
        }
    </div>

    @if (errorMessage()) {
        <div class="error global">
            {{errorMessage()}}
        </div>
    }

    <button type="submit" [disabled]="loading()">
        @if (loading()) {
            <span>Logging in ...</span>
        } @else {
            <span>Login</span>
        }
    </button>
</form>