form {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 16px
}

.error {
    color: #c62828;
    font-size: 0.9rem;
}

.error-global {
    text-align: center;
}