<form [formGroup]="form" (ngSubmit)="submit()">
    <h2>Login</h2>
    <div class="form-group">
        <label>Email</label>
        <input type="email" formControlName="email" />

        @let email = form.controls.email;
        @if (email.touched && email.invalid) {
            <ul class="error">
                @for (error of getValidationMessages(email, "Email"); track error) {
                    <li>{{error}}</li>
                }
            </ul>
        }
    </div>
    <div>
        <label>Password</label>
        <input type="password" formControlName="password" />

        @let password = form.controls.password;
        @if (password.invalid && (password.dirty || password.touched)) {
            <ul class="error">
                @for (error of getValidationMessages(password, "Password"); track error) {
                    <li>{{error}}</li>
                }
            </ul>
        }
    </div>

    @if (errorMessage()) {
        <div class="error global">
            {{errorMessage()}}
        </div>
    }

    <button type="submit" [disabled]="loading()">
        @if (loading()) {
            <span>Logging in ...</span>
        } @else {
            <span>Login</span>
        }
    </button>
</form>